@import "tailwindcss";

@theme {
  /* Aqui definimos a paleta Valency */
  --color-valency-light: #33CCFF;
  --color-valency-sky: #2699E6;
  --color-valency-main: #1A66CC;
  --color-valency-deep: #0D33B3;
  --color-valency-dark: #000099;
}

/* Configurações padrão do Next.js (opcional, mas bom manter) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}